<% if @users_with_messages.present? %>
    Wysłano klucze do(<%= "#{  @users_with_messages.present? ? @users_with_messages.size : 0}  użytkowników" %>)::
    <table>
      <% @users_with_messages.each do |user_with_message| %>
      <tr>
        <td><%= user_with_message.name %></td>
      </tr>
      <% end %>
    </table>
<% else %>
    Nie udało się ponownie wysłać żadnych kluczy
<% end %>