<% if @users_with_messages.present? %>
    Wysłano klucze do:
    <table>
      <% @users_with_messages.each do |user_with_message| %>
      <tr>
        <td><%= user_with_message.name %></td>
      </tr>
      <% end %>
    </table>
<% else %>
    W tej partii nie udało się wysłać żadnych kluczy
<% end %>