<% if @all_users_with_keys.present? || @all_users_without_keys.present? %>
    Wysłano klucze do (<%= "#{  @all_users_with_keys.present? ? @all_users_with_keys.size : 0}  użytkowników" %>):
    <%= render partial: 'users_table', locals:{ users: @all_users_with_keys } %>

    Nie wysłano kluczy do (<%= "#{  @all_users_without_keys.present? ? @all_users_without_keys.size : 0}  użytkowników" %>):
    <%= render partial: 'users_table', locals:{ users: @all_users_without_keys } %>
<% else %>
    Jeszcze nie wysłano żadnych kluczy
<% end %>