<h1>Wyślij jeszcze raz do użytkowników którzy nie dostali wiadomości</h1>

<%= form_tag({:action => 'resend'}) do %>
<table>
  <tr>
    <td>
      Treść dla użytkowników
    </td>
    <td>
      <%= text_area_tag 'message_to_users', nil, size: "45x15" %>
    </td>
  </tr>
</table>
<%= submit_tag 'Wyślij' %>
<% end %>