<h1>Wrzuć CSV</h1>
<%= form_tag({:action => 'send_messages'}, :multipart => true) do %>
  <table>
    <tr>
      <td>
        <%= file_field_tag 'file' %>
      </td>
    </tr>
    <tr>
    <td>
      Treść dla użytkowników
    </td>
      <td>
        <%= text_area_tag 'message_to_users', nil, size: "45x15" %>
      </td>
    </tr>
  </table>
  <%= submit_tag 'Wyślij' %>
<% end %>